*
!.gitignore
!Makefile
!*.md
!*.c
!*.h
!*.txt
!*.json
!*.ui
!/misc
!/chanoi
!/cgblist
!/ncgblist
!/nceventlist
!/nceventlist/phrases
!/ripdifm
!/ripdifm/jsmn
!/geventlist
!/geventlist/phrases
!/geventlist2