*
!.gitignore
!Makefile
!*.md
!*.c
!*.h
!*.txt
!*.json
!*.ui
!*.po
!*.pot
!*.mo
!/misc
!/misc/po
!/chanoi
!/cgblist
!/ncgblist
!/nceventlist
!/nceventlist/phrases
!/ripdifm
!/ripdifm/jsmn
!/geventlist
!/geventlist/phrases
!/geventlist2
!/geventlist2/locale
!/geventlist2/locale/de
!/geventlist2/locale/de/LC_MESSAGES